.header {
    min-height: 400px;
}

.index {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.description {
    padding: 50px;
}

.search {
  padding: 0px 30px;
}

.displayFlex {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
}

.hide {
  display: none;
}

.graph {
  padding-top: 50px;
}

tspan {
  display: none;
}

.table {
    padding: 50px;
}

th {
  background-color: #e9ecef;
}

.method, .nyt {
    margin: 25px 10px;
    border: 2px solid black;
    padding: 0px;
}

#methodology, #nyt {
    padding: 0px;
}

h3 {
    background-color: #e9ecef;
    padding: 10px;
}

#index-content {
    padding: 20px;
}

/* Styling autocomplete -Beginning*/  
body {
    font: 16px Arial;  
  }
  
  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }
  /* Styling autocomplete -End*/
  